body {
    width: 100%;
    min-width: 590px;
   background-color: #D1A163;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    font-family: 'Oxygen', sans-serif;
       text-align:center;
  }
  
  .tabs {
    display: inline-block;
  text-align: center;
    margin: auto 8%;
   }
  .tabs li{
    display: inline-block;
  text-align: center;
     margin: auto 8px;
   }
  
  .tabs a {
    font-size: 20pt;
    color: white;
    text-decoration: none;
    padding: 5px 25px;
   
    border-radius: 15px;
    display:inline-block;
    text-align: center;
  }
  #tabs a.active{
     border: 2px solid #404040;
  
  }
  #quiz a{
   background: #82D4F3;
  
  }
  #quiz a.active{
    background: #00ACE9;
  }
  #quiz a:hover {
    background: #00ACE9;
  }
  #study a {
    background: #B5CC8D;
  }
  #study a.active{
   background: #6A9A1F;
  }
  
  #study a:hover {
    background: #6A9A1F;
  }
  ul  {
    float: left;
    margin-left: 4%;
    background-color: #faeba8;
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
    padding: 10px 10px 16px 10px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 7px 7px rgba(0, 0, 0, 0.19);
  }
  
  
  .folder {
    padding: 1%;
    margin: 0 2% .5% 2%;
    width: 88%;
  display: inline-block;
    text-align: center;
    background-color: #faeba8;
    
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
    border-radius: 15px;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 7px 7px rgba(0, 0, 0, 0.19);
  }
  
  h1 {
    margin: 0;
    font-size: 30pt;
    text-align: center;
    color: #404040;
  }
  .howMany{
    margin: 0;
    text-align: center;
    font-style: italic;
  }
  
  .card {
    position: absolute;
    margin-top: 3%;
    margin-bottom: 3%;
    display: inline-block;
    height: 270px;
    width: 450px;
    font-size: 30pt;
  text-align: center;
  
  }
  div.study{
    height: 240px;
    width: 400px;
    margin-left:15px;
    margin-right:15px;
    padding: 12px;
  }
  .front {
    text-align:center;
      display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    resize: vertical;
    overflow: auto;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");
    padding: 0;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15), 0px 0px 7px 7px rgba(0, 0, 0, 0.14);
     left: 0;
  
  }
  .back {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    resize: vertical;
    overflow: auto;
    text-align:center;
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");
    padding: 0;
    color: white;
    text-align: center;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15), 0px 0px 7px 7px rgba(0, 0, 0, 0.14);
     left: 0;
  }
  
  
  p
  {margin: 0;}
  
  button {
    display: inline-block;
    outline: none;
    color: white;
    padding: 8px 10px;
    margin: 2% auto;
    background-color: #404040;
     border-radius: 15px;
    border: 2px solid #404040;
    font-size: 14pt;
  
  
  }
  button:hover{
    color:#404040;
     background-color: white;
    
  
  }
  #progress {
    display: inline-block;
   width: 500px;   
   border: 1px solid black;
   padding: .3%;
   margin: 2%;
     position: relative;
   text-align:center;
  
  }
  
  #percent {
    position:relative;
  }
  
  #bar {
    float: left;
   height: 20px;
   background-color: green;
    
  }
  
  .block{
    display: block;
  }
  .error{
    color: red;
    font-weight: bold;
    font-size: 18px;
  }
  form{
    margin: 3% auto;
  }
  footer {
    float:left;
    margin: 1% 8%;
    color: #404040;
  }